---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import MemoryProfileCard from './MemoryProfileCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
  interestTags: string[];
  relationshipTags: string[];
  allowedTags: string[];
  blockedTags: string[];
};

const { interestTags, relationshipTags, allowedTags, blockedTags } = Astro.props as Props;
---

<MemoryProfileCard title={t("ui.tags")} icon="sell">
  <div class="memory-tags">
    {interestTags.length > 0 && (
      <div class="memory-tags__group">
        <span class="memory-tags__label">{t('ui.tags_interest')}</span>
        <div class="tag-list">
          {interestTags.map(tag => <span class="memory-tags__tag memory-tags__tag--interest">{tag}</span>)}
        </div>
      </div>
    )}
    {relationshipTags.length > 0 && (
      <div class="memory-tags__group">
        <span class="memory-tags__label">{t('ui.tags_relationships')}</span>
        <div class="tag-list">
          {relationshipTags.map(tag => <span class="memory-tags__tag memory-tags__tag--relationships">{tag}</span>)}
        </div>
      </div>
    )}
    {allowedTags.length > 0 && (
      <div class="memory-tags__group">
        <span class="memory-tags__label">{t('ui.tags_allowed')}</span>
        <div class="tag-list">
          {allowedTags.map(tag => <span class="memory-tags__tag memory-tags__tag--allowed">{tag}</span>)}
        </div>
      </div>
    )}
    {blockedTags.length > 0 && (
      <div class="memory-tags__group">
        <span class="memory-tags__label">{t('ui.tags_blocked')}</span>
        <div class="tag-list">
          {blockedTags.map(tag => <span class="memory-tags__tag memory-tags__tag--blocked">{tag}</span>)}
        </div>
      </div>
    )}
  </div>
</MemoryProfileCard>