---
import PersonaCard from './PersonaCard.astro';

type Props = {
  label: string;
  items: string[];
  icon?: string;
};

const { label, items, icon } = Astro.props as Props;
const hasItems = items.length > 0;
---

{hasItems ? (
  <PersonaCard title={label} icon={icon}>
    <ul class="persona-tag-list tag-list">
      {items.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
  </PersonaCard>
) : null}
