---
import PersonaCard from './PersonaCard.astro';

type Props = {
  items: string[];
};

const { items } = Astro.props as Props;
const hasItems = items.length > 0;
---

{hasItems ? (
  <PersonaCard title="Tabues" icon="block">
    <ul class="persona-taboos tag-list">
      {items.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
  </PersonaCard>
) : null}
