---
import PersonaCard from './PersonaCard.astro';

type Props = {
  archetype: string;
};

const { archetype } = Astro.props as Props;
const shouldRender = archetype.length > 0;
---

{shouldRender ? (
  <PersonaCard title="Arquetipo" icon="badge">
    <p class="persona-archetype">{archetype}</p>
  </PersonaCard>
) : null}
