---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import PersonaCard from './PersonaCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type Props = {
  items: string[];
};

const { items } = Astro.props as Props;
const hasItems = items.length > 0;
---

{hasItems ? (
  <PersonaCard title={t("ui.taboos")} icon="block">
    <div class="persona-taboos tag-list">
      {items.map((taboo) => (
        <span class="persona-taboos__item tag tag--danger">{taboo}</span>
      ))}
    </div>
  </PersonaCard>
) : null}